body{
    width: 100%;
    height:100% ;
    margin: 0px;
    padding: 0px;
    font-family: "Edmondsans";
}
h1, h2, h3, h4 ,h5 {
    padding: 0px;
    margin: 0px;
}
a{
    text-decoration: none;
}
#block-upper{
    background-color:  #FAE8E0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;  
    
}
#block-upper :nth-child(1) {
    margin-right: 50px;
    margin-top: 50px;
    width: 463px;
    height: 111px;
    
}
#block-upper :nth-child(2){
    width: 560px;
 
}
.fa-times-circle{
    color:  #67595E;
    padding: 0px 15px;
    font-size: 20px;
    margin-top: 25px;
 
}
#account-navbar {
    width: 100%;
    height: auto;
    background-color: #E8B4B8 ;
    text-align: center;
}
.account-icon-navbar{
    display: flex;
    justify-content: space-between;
}
#account-navbar ul{
    margin:0px;
    margin-top: 15px;
    padding-left: 0px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between; 
    list-style-type: none;
    padding-inline-start: 0px; 
}

#account-navbar ul a{
    color:  #67595E;
    text-decoration: none;
    margin-left: 30px;
}


/* Navbar-logo-and-menu STARTED*/

#navbar-logo-nd-menu{
width: 100%;
display: block;
text-align: center;

}
#navbar-logo-nd-menu img{
    margin-top: 60px;
    margin-bottom: 40px;
    width: 270px;
    height: auto;
}
hr{
    border: .5px solid lightgray;
}
.navbar-nav-menu {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 15;
  
}

.navbar-nav-menu-list{
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.navbar-nav-menu ul a{
    text-decoration: none;
    color:#67595E;
}
.navbar-nav-menu li a:hover{
    color: white;
    background-color: #67595E;
    transition: 0.3s ease;
    border-radius: 2px;
    
}
.navbar-nav-menu ul > li:nth-child(2):hover .justin-none-block{
    display: block;
   
}
.justin-none-block {
    width: 100%;
    height: auto;
    display: none;
    position: absolute;
    background-color: white;
    left: 7px;
}
.justin-four-block{
    margin-top: 55px;
    display: flex;
    justify-content: space-evenly;
    z-index: 1;
    
}
.block-babies-div-panel {
    margin-right: 20px;
}

.block-babies-div-panel h4{
    color: #67595E;
    display: block;
    text-align: center;
}
/*Backround Image css*/

#b-img-div{
    background-image: url(Images/home1.jpg);
    margin-top: 55px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.b-img-middle-div{
    background-color: white;
    width: 445px;
    height: 180px;
    position: relative;
    font-size: 1.2rem;
    line-height: 40px;
    text-align: center;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
}
.b-img-middle-div span{
    color: #99A9B4;
    margin-top: 30px;
}
#b-img-div .btn-shop{
    background-color:#99A9B4; 
    border-radius: 1px;
    width: 180px;
    height: 50px;
    border:none;
    position: absolute;
    text-align: center;
    line-height: 25px;
    font-size: 1rem;
    bottom: 120px;
    z-index: 20;
}
#b-img-div .btn-shop a{
    color: white;
}
 /*Boys-girls-div-panel basladi */
.boys-girls-div-panel{
    width: 100%;
    position: absolute;
    left: 0px;
    top: 20px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 3em;
    display: none;
    border: 2px solid pink;
    z-index: 10;
 
}

.navbar-nav-menu ul > li:nth-child(3):hover .boys-girls-div-panel{
    display: block;
   
}

.products-down-menu span{
    padding-left: 45px;
    font-size: 1.5em;
    font-weight: 500;
}
.products-down-menu ul li{
  display: block;
  padding-left: 30px;
  
}
.boys-girls-div-panel ul{
    list-style-type:none;
}
.products-size{
    display: none;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
