<footer class="footer-panel">
    <div class="footer-left-panel">
     <h3>About us</h3>
     <p>Your babies and kids might grow faster than you can think. We’re here to serve parents’ growing needs of choosing the right toys, clothes, and gears for your sweethearts. MeloKids offer clothing and accessories by a wide variety of brands alongside with our own clothing line. Browse our catalog for more beautiful options.
       A quick scroll down the page will reveal all categories for kids fashion in our stores.</p>
   <h3>We're closed ( <a href="#">Is saatlarimiz</a>)</h3>
   <div class="cards">
     <img src="Images/credit-card-313x23 (1).png" alt="" srcset="">
    
   </div>
    </div>
    <div class="footer-right-panel margin-top-min"> 
      <h3>Bizimle elaqe</h3>
   
      <p>58 Howard Street #2 San Francisco</p>
      <p>azerbaijanjoy@gmail.com</p> 
     <h4>(+994)55 661-01-67</h4>
   <div class="margin-top-min">

     <h2>Social Media</h2>
      <ul class="fb-wh-inst">
        <li> <i class="fab fa-facebook-square"><a href="https://www.facebook.com/Baby-Joy-112497944613603/">Facebook</a></i></li>
      
       <li><i class="fab fa-instagram"><a href="https://www.instagram.com/baby_joy.az/">Instagram</a> </i></li>
       <li><i class="fab fa-whatsapp">Whatsapp</i> </li>
      </ul>
     
   </div>
    
   
    </div>
   </footer>