* {
    margin: 0;
    padding: 0;
   
  }
  label{
    margin-bottom: 0px;
  }
  
  html, body {
 
    font-family: 'Poppins', sans-serif;
   
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top right, #d33278 0%, #7f3d7a 100%);
    font-weight: 900;
    font-size: 1.1em;
  }

  #pinksection{
    padding-top: 40px;
    margin-top: 100px;
    width: 600px;
    height: auto;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  #pinksection input{
    padding: 5px 10px;
    border-radius: 5px solid lightgray;
    background-color: #FAFAFA;
    margin-bottom: 16px;
    margin-top: 16px;
    margin-right: 25px;
  }
 
  #option{
    width: 100%;
  }

  #pinksection .request{
    color: white;
    background-color: mediumturquoise;
    border-radius: 2px solid mediumturquoise;
  }
  .gendercheck .checkbox-round{
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 100%;
    border: 1px solid #ddd;
  }
  


