.gallery {
    width: 1000px;
    margin: 0 auto;
}

.big-image {
    height: 600px;
    overflow: hidden;
}

.big-image img {
    height: 600px;
    width: 100%;
    object-fit: cover;
}

.small-images {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.small-image {
    height: 150px;
    cursor: pointer;
}

.small-image img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}