.gray-color{
    color: #67595E;
}
.bckrnd-color{
    background-color: #FAE8E0
}

.margin-top-min{
    margin-top: 60px;
}
.margin-right{
    margin-right: 40px;
}
.margin-left{
    margin-left: 30px;

}

